USMTF_NIEM/XSLT/Test/NIEM_NDR_3/ndr-examples-xsd/niem/niem-core/3.0/niem-core.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/niem-core/3.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation>NIEM Core.</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../proxy/xsd/3.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"/>
  <xs:import schemaLocation="../../structures/3.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/3.0/"/>
  <xs:complexType name="AssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association, connection, relationship, or involvement somehow linking people, things, and/or activities together.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AssociationType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConveyanceType">
    <xs:annotation>
      <xs:documentation>A data type for a means of transport from place to place.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ItemType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateType">
    <xs:annotation>
      <xs:documentation>A data type for a calendar date.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityType">
    <xs:annotation>
      <xs:documentation>A data type for a person, organization, or thing capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:EntityRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FullTelephoneNumberType">
    <xs:annotation>
      <xs:documentation>A data type for a full telephone number.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:TelephoneNumberFullID" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ItemType">
    <xs:annotation>
      <xs:documentation>A data type for an article or thing.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:ItemOwner" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MetadataType">
    <xs:annotation>
      <xs:documentation>A data type for information that further qualifies primary data; data about data.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:MetadataType">
        <xs:sequence>
          <xs:element ref="nc:ProbabilityPercent" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ReportedDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:SourceText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PercentSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a ratio, proper fraction, or percentage, with permissible decimal values ranging from 0 to 1 inclusive.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0">
        <xs:annotation>
          <xs:documentation>The lowest value allowed (inclusive) - represents 0%.</xs:documentation>
        </xs:annotation>
      </xs:minInclusive>
      <xs:maxInclusive value="1">
        <xs:annotation>
          <xs:documentation>The highest value allowed (inclusive) - represents 100%.</xs:documentation>
        </xs:annotation>
      </xs:maxInclusive>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PercentType">
    <xs:annotation>
      <xs:documentation>A data type for a ratio, proper fraction, or percentage, with permissible decimal values ranging from 0 to 1 inclusive.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:PercentSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonConveyanceAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between a person and a conveyance.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Person" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:Conveyance" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonNameTextType">
    <xs:annotation>
      <xs:documentation>A data type for a name by which a person is known, referred, or addressed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:ProperNameTextType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonNameType">
    <xs:annotation>
      <xs:documentation>A data type for a combination of names and/or titles by which a person is known.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonFullName" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>A data type for a human being.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonName" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProperNameTextType">
    <xs:annotation>
      <xs:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:TextType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TelephoneNumberType">
    <xs:annotation>
      <xs:documentation>A data type for a telephone number for a telecommunication device.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:TelephoneNumberRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:annotation>
      <xs:documentation>A data type for a character string.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="niem-xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VehicleType">
    <xs:annotation>
      <xs:documentation>A data type for a conveyance designed to carry an operator, passengers and/or cargo, over land.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ConveyanceType">
        <xs:sequence>
          <xs:element ref="nc:VehicleMake" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:VehicleModel" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Conveyance" type="nc:ConveyanceType" nillable="true">
    <xs:annotation>
      <xs:documentation>A means of transport.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Date" type="niem-xs:date" substitutionGroup="nc:DateRepresentation" nillable="true">
    <xs:annotation>
      <xs:documentation>A full date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DateRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a representation of a date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Entity" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person, organization, or thing capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EntityPerson" type="nc:PersonType" substitutionGroup="nc:EntityRepresentation">
    <xs:annotation>
      <xs:documentation>A person capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EntityRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a person, organization, or thing capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FullTelephoneNumber" type="nc:FullTelephoneNumberType" substitutionGroup="nc:TelephoneNumberRepresentation" nillable="true">
    <xs:annotation>
      <xs:documentation>A full telephone number.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Item" type="nc:ItemType" nillable="true">
    <xs:annotation>
      <xs:documentation>An article or thing.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemOwner" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An entity which owns a property item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Metadata" type="nc:MetadataType" nillable="true" appinfo:appliesToTypes="structures:ObjectType structures:AssociationType">
    <xs:annotation>
      <xs:documentation>Information that further qualifies primary data; data about data.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Person" type="nc:PersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>A human being.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBirthDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a person was born.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonConveyanceAssociation" type="nc:PersonConveyanceAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between a person and a conveyance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonFullName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A complete name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonName" type="nc:PersonNameType" nillable="true">
    <xs:annotation>
      <xs:documentation>A combination of names and/or titles by which a person is known.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProbabilityPercent" type="nc:PercentType" nillable="true">
    <xs:annotation>
      <xs:documentation>A decimal value that indicates computed likelihood that what the content is true or accurate. This value is based on a calculation of probability of occurrence or truth.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReportedDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date information was observed, measured, identified, or became known.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RoleOf" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a property of a role object. This specifies the base object, of which the role object is a function.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RoleOfPerson" type="nc:PersonType" substitutionGroup="nc:RoleOf" nillable="true">
    <xs:annotation>
      <xs:documentation>A person of whom the role object is a function.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SourceText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name, identifier, or reference of a resource from which the information was taken.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TelephoneNumber" type="nc:TelephoneNumberType" nillable="true">
    <xs:annotation>
      <xs:documentation>A telephone number for a telecommunication device.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TelephoneNumberFullID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>A complete telephone number.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TelephoneNumberRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a telephone number.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VehicleMake" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a manufacturer of a vehicle.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VehicleModel" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a specific design or class of vehicle made by a manufacturer.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
